* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, sans-serif, Arial;
    background-image: url("https://st.deviantart.net/signinup/sisu_bg-min.png");
    background-repeat: repeat;
    background-size: cover;
    background-color: black;
}

.svg {
    height: 36px;
    position: absolute;
    top: 66px;
    left: 76px;

}

.svg_icon {
    width: auto;
    height: 36px;
    fill: #00e59b;
}

.svg_text {
    width: 111px;
    height: 36px;
    fill: white;
}

.root {

    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}


.main {
    width: 856px;
    height: 720px;
    background-color: whitesmoke;
    display: flex;
}

.left {
    background-image: url(https://st.deviantart.net/eclipse/sisu/image-4-739957234.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #00e59b;
    width: 416px;
    height: 100%;
    display: flex;
    position: relative;
    overflow: hidden;

}

.join_font {
    background: rgba(0, 0, 0, 0.2);
    padding: 144px 56px 40px;
    justify-content: space-between;
    display: flex;
    width: 100%;

}

.left_join_upper {
    margin-bottom: 24px;
    color: white;
    width: 100%;
    font-size: 13px;
}

.left_join_upper h1 {
    width: 221px;
    text-transform: uppercase;
    font-size: 40px;
    margin: 0 0 24px;

}




.left svg {
    height: 100px;
    width: 100px;

}

#joinfont {
    font-size: 40px;
    text-transform: uppercase;
}



.right {
    width: 440px;
    position: relative;
}


.form_side {
    padding: 72px 48px 40px;
    box-sizing: border-box;
    flex-direction: column;
    width: 100%;
    height: 100%;
    display: flex;

}




.form_div {
    margin: 40px 0 53px;
}

.login_form {

    width: 335px;
}


.username_div {
    width: 100%;
    background-color: white;
}

#username_font {
    font-weight: bold;
    font-size: 14px;
}


#username_label {
    margin-bottom: 6px;
    display: flex;
}


#username_field {
    width: 100%;
    height: 40px;
    margin-bottom: 4px;
    border: 1px solid #ccc;
    border-radius: 2px;
}




.iks {
    justify-content: space-between;
    display: flex;
    height: 36px;

}



#login_text {
    align-items: center;
    font-size: 13px;
    margin-left: 8px;
}

#text_forgot {
    color: gray;
    font-size: 12px;
    text-decoration: underline;
    margin-top: 2px;
    margin-bottom: 8px;
    display: block;

}

#login_box {
    margin: 10px;
}

#next_button {
    background-image: linear-gradient(to right, #00f2fc, #00ff8d);
    width: 100%;
    height: 40px;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    padding: 0 24px;
    margin-bottom: 16px;
}


.divider {
    height: 32px;
    display: flex;
    align-items: center;
    color: gray;
    font-size: 13px;
    margin-bottom: 8px;
}

.divider div {
    width: 100%;
    height: 1px;
    background: #ccc;
}




.dif_login a {
    display: flex;
    justify-content: center;
    border: 1px solid rgba(190, 187, 187, 0.727);
    padding: 10px 15px;
    margin-top: 8px;
    cursor: pointer;
    font-size: 14px;
}

.dif_login img {
    width: 20px;
    height: 20px;
    margin-right: 8px;

}



.spacer_32px {
    height: 32px;
}

h2 {
    margin: 0 0 3px;
    font-size: 30px;
}


.join_link_font {
    color: #00e59b;
    text-decoration: none;
    margin-left: 4px;
}



#keep_logged_in {
    width: 20px;
    height: 20px;
    color: #00e59b;
}


.footer {
    width: 310px;
}