* {
    margin: 0;
    padding: 0;
}

body {}

.svg {
    height: 36px;
    position: absolute;
    top: 66px;
    left: 76px;

}

.svg_icon {
    width: auto;
    height: 36px;
    fill: #00e59b;
}

.svg_text {
    width: 111px;
    height: 36px;
    fill: white;
}

.root {
    background-image: url("https://st.deviantart.net/signinup/sisu_bg-min.png");
    background-repeat: repeat;
    background-size: cover;
    height: 100vh;
    background-color: black;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.main {
    
    width: 856px;
    height: 720px;
    background-color: whitesmoke;
    display: flex;
}

.left {
    background-image: url(https://st.deviantart.net/eclipse/sisu/image-8-626318567.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #00e59b;
    width: 416px;
    height: 100%;
    display: flex;
    position: relative;
    overflow: hidden;

}

.join_font {
    padding: 144px 56px 40px;
    justify-content: space-between;
    display: flex;
    width: 100%;

}

.left_join_upper {
    margin: 0 0 24px;
    width: 221px;
    color: white;
    width: 100%;
    font-size: 13px;
}

.left_join_upper h1 {
    text-transform: uppercase;
    font-size: 40px;
    margin: 0 0 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}




.left svg {
    height: 100px;
    width: 100px;

}

#joinfont {
    font-size: 40px;
    text-transform: uppercase;
}



.right {
    width: 440px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_side {
    width: 100%;

}


.login_form {
    margin: 40px 0 53px;
    margin-bottom: 24px;
    width: 355px;
}


.text {
    padding: 144px 56px 40px;
}

.username_div {
    width: 100%;
    background-color: aliceblue;
}

#username_label {
    margin-bottom: 6px;
    display: flex;
}


#username_field {
    width: 100%;
    height: 40px;
    margin-bottom: 4px;
}

#text_login {
    font-size: 13px;

}

#text_forgot {
    font-size: 10px;
    text-decoration: underline;
}

#login_box {
    margin: 10px;
}

#next_button {
    background-image: linear-gradient(to right, #00f2fc, #00ff8d);
    width: 100%;
    height: 40px;
    border-radius: 2px;
    border: none;
    cursor: pointer;
}


.divider {
    padding: 20px 0 14px;
    display: flex;
    align-items: center;
    color: gray;
    font-size: 13px;
}

.divider div {
    width: 100%;
    height: 1px;
    background: #ccc;
}

.dif_login a {
    display: flex;
    justify-content: center;
    border: 1px solid #ccc;
    padding: 10px 15px;
    margin-top: 8px;
    color: gray;
    cursor: pointer;
}

.dif_login img {
    width: 20px;
    height: 20px;
    margin-right: 8px;

}



.spacer_32px {
    height: 32px;
}

h2 {
    margin: 0 0 3px;

}


.join_link_font{
    color: #00e59b;
    text-decoration: none;
    margin-left: 4px;
}


.sfsfs{
    padding: 72px 48px 40px;
    display: block;
    width: 100%;
    align-self: stretch;
    
}

.keep_logged_in{
    width: 20px;
    height: 20px;
    color:#00e59b;
}


.footer{

    margin-top: 60px;
    display: flex;
    width: 310px;
    font-size: 12px;
    color: gray;
}



