* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: 100vh;
    background-color: rgb(62, 65, 62);
    justify-content: center;
    align-items: center;
    display: flex;
}

.main {
    width: 856px;
    height: 720px;
    background-color: whitesmoke;
    display: flex;

}

.left {
    display: flex;
    width: 416px;
    height: 100%;
    background-color: darkgray;
}

.right {
    width: 440px;
    display: flex;
}


.text {
    padding: 144px 56px 40px;
}

#joinfont {
    font-size: 40px;
    text-transform: uppercase;
}

.login_side {
    position: absolute;
    width: 344px;
    height: 512px;
    margin: 72px 48px 40px;
}



.username_div {
    width: 100%;
    background-color: aliceblue;
}

#username_field {
    width: 100%;
    height: 30px;

}

#text_login {
    font-size: 13px;

}

#text_forgot {
    font-size: 10px;
    text-decoration: underline;
}

#login_box {
    margin: 10px;
}

#next_button {
    background-color: green;
    width: 100%;
    height: 30px;

}


.divider {
    padding: 20px 0 14px;
    display: flex;
    align-items: center;
    color: gray;
    font-size: 13px;
}

.divider div {
    width: 100%;
    height: 1px;
    background: rgb(181, 181, 181);
}

.dif_login a {

    display: block;
    border: 1px solid gray;
    padding: 30px
}

.dif_login img {
    width: 10px;
    height: 10px;
}