* {
    margin: 0;
    padding: 0;
}

body {}

.svg {
    position: absolute;
    top: 13px;
    left: 13px;

}

.svg_icon {
  width: 36px;
  height: auto;
  fill: rgb(90, 236, 151); /* če želiš, da pot postane vidna v beli barvi */
}

.svg_text {
    fill: white;
    height: 36px;
    width: auto;
    position: absolute;
}

.root {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: 100vh;
    background-color: rgb(62, 65, 62);
    justify-content: center;
    align-items: center;
    display: flex;
}


.main {
    width: 856px;
    height: 720px;
    background-color: whitesmoke;
    display: flex;
}

.left {
    position: relative;
    display: flex;
    width: 416px;
    height: 100%;
    background-color: darkgray;
}

.left svg {
    height: 100px;
    width: 100px;

}

#joinfont {
    font-size: 40px;
    text-transform: uppercase;
}



.right {
    width: 440px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_side {
    width: 80%;
    max-width: 340px;
}

.text {
    padding: 144px 56px 40px;
}

.username_div {
    width: 100%;
    background-color: aliceblue;
}

#username_field {
    width: 100%;
    height: 30px;

}

#text_login {
    font-size: 13px;

}

#text_forgot {
    font-size: 10px;
    text-decoration: underline;
}

#login_box {
    margin: 10px;
}

#next_button {
    background-color: green;
    width: 100%;
    height: 30px;

}


.divider {
    padding: 20px 0 14px;
    display: flex;
    align-items: center;
    color: gray;
    font-size: 13px;
}

.divider div {
    width: 100%;
    height: 1px;
    background: #ccc;
}

.dif_login a {
    display: flex;
    justify-content: center;
    border: 1px solid #ccc;
    padding: 10px 15px;
    margin-top: 8px;
    color: gray;
    cursor: pointer;
}

.dif_login img {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    
}